/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.navbar {
  background-color: white !important;
  color: black;
  width: 100%;
}

.navbar-user {
  color: gray;
  margin-top: 2%;
}
