/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.navbar {
  /*It's necessary use important because I needed to override this property from bootstrap*/
  background-color: white !important;
  color: black;
  width: 100%;
}

.navbar-header {
  float: left;
  text-align: center;
  width: 100%;
}

.navbar-brand {
  float: none;
  font-weight: bold;
}

.navbar-user {
  color: gray;
  margin-top: 15%;
  font-size: 13px;
  text-align: center;
  @media screen and (max-device-width: 800px) {
    margin-top: 5%;
  }
}

.navbar-toggler {
  width: 100%;
}

.collapse,
.navbar-collapse {
  width: 8%;
}