/*------------------------------------*\
  #CARD-PUBLICATION
\*------------------------------------*/

.container {
  margin-top: 2%;
  width: 70%;
}

.textarea-publication {
  width: 100%;
  border: none;
  resize: none;
}

.textarea-publication::placeholder {
  color: #4cc830 !important;
}

.textarea-publication:focus {
  border-color: #4cc830 !important;
  box-shadow: 0 0 0 0.2em #d8f1d3 !important;
}

.card-actions-publication {
  display: block !important;
  text-align: right !important;
}

.button-publish {
  background-color: #4cc830 !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: white !important;
}

.button-publish:focus {
  outline: 0 !important;
}