/*------------------------------------*\
  #CARD PUBLICATION
  #Create new publications
\*------------------------------------*/

.newpublication-textarea {
  width: 100%;
  border: none;
  resize: none;
}

.newpublication-textarea::placeholder {
  color: #4cc830;
}

.newpublication-textarea:focus {
  border-color: #4cc830;
  box-shadow: 0 0 0 0.2em #d8f1d3;
}

.newpublication-cardactions {
  /*I use important here, because the card action has a property that I had to override*/
  display: block !important;
  text-align: right;
}

.newpublication-button {
  background-color: #4cc830;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 3px;
  width: auto;
}

.newpublication-button:focus {
  outline: 0;
}