.publication {
  text-align: left !important;
  margin-top: 3%;
  margin-bottom: 3%;
}

.button-reactions {
  color: #4cc830 !important;
  text-transform: capitalize !important;
  margin-top: -3% !important;
}

.button-comments {
  color: #4cc830 !important;
  text-transform: capitalize !important;
  margin-top: -3% !important;
}

.publication-avatar {
  text-align: right !important;
}

.publication-avatar-image {
  width: 90%;
}

.label-publication {
  color: #4cc830 !important;
  font-weight: bold !important;
}

.date-publication {
  color: #a5a5a5;
  font-size: 10px;
  margin-top: -1%;
}

.publication-content {
  width: 95%;
  text-align: justify;
}

.reactions {
  text-align: left;
  font-size: 12px;
  margin-top: 0.5%;
  margin-bottom: -1%;
}

.comments {
  text-align: right;
  font-size: 12px;
  margin-top: 0.5%;
  margin-bottom: -1%;
}

.comments-section {
  margin-top: 2%;
}

.textarea-comments {
  width: 100%;
  border-color: #dddddd;
  margin-top: 2%;
}

.textarea-comments-small {
  font-size: 12px;
  text-align: right !important;
}
