#reactions.row {
  margin-top: -1%;
  margin-bottom: 1% !important;
  margin-left: 6%;
  @media screen and (max-device-width: 525px) {
    margin-left: 14%;
  }
}

#reactions > .col-md-1 {
  padding: 0;
}