/*------------------------------------*\
  #REACTION
  #Each reaction
\*------------------------------------*/

#reaction-button {
  background: none;
  border: none;
  padding: 0;
}

.reaction-button-image {
  width: 40%;
}
