Button {
  color: #4cc830 !important;
  text-transform: capitalize !important;
  margin-top: -3% !important;
}

.avatarImage {
  width: 100%;
}

.labelPublication {
  color: #4cc830 !important;
  font-weight: bold !important;
}

.datePublication {
  color: #b9b9b9;
  font-size: 10px;
  margin-top: -1%;
}

.reactions {
  text-align: left;
  margin-top: 0.5%;
  margin-bottom: -1%;
}

.comments {
  text-align: right;
  margin-top: 0.5%;
  margin-bottom: -1%;
}